{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Santi Garcia's Python on Heroku website</h1>
    <p>This is a sample Python application deployed to Heroku. </p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.linkedin.com/pub/santiago-garc%C3%ADa-guti%C3%A9rrez/108/453/466"><span class="glyphicon glyphicon-flash"></span> Linkedin personal profile</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/borja/python-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-python" class="alert-link">Getting Started with Python on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/sgarciag">Heroku Button</a> on the repository.</li>

        

      </ul>
    </div>
  </div> <!-- row -->

</div>
{% endblock %}
